.vscode
.vs
build
launch.json
src/main
CppProperties.json
GL_PIDS.vcxproj
GL_PIDS.vcxproj.filters
Debug
GL_PIDS.sln
GL_PIDS.vcxproj.user
/GL_P.sln
/GL_P.vcxproj
/GL_P.vcxproj.filters
/GL_P.vcxproj.user
src/client
src/server
src/*.obj
src/*.exe
src/message.txt
CMake/
Text.txt
